node_modules
dist
dist-ssr

.git
.github
.vscode
.idea

.env
.env.*
!.env.example

supabase/.temp
supabase/.branches
supabase/dumps

Dockerfile*
docker-compose*.yml
docker-compose*.yaml
README.md
documents
*.log
